@page
@model PublicationModel

<div class="text-center" style="padding-bottom: 30px;">
    <div class="alert alert-success" role="alert">
        <span>New Publication Id</span>
        <h2>@ViewData["PublicationId"]</h2>
    </div>
</div>